$dark-gray: #ede9e5;
$gold: #ceac65;


#contact {
height: 70vh;
background-color: #ede9e5;
    
    .contactSection {
        height: 60vh;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-sizing: border-box;
        background-color: $dark-gray;
        a {
            height: 100%;
            background-color: white;
            min-width: 300px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        .mapPlace {
            width: 40%;
            height: 100%;
            background-color: white;
            min-width: 320px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            background-image: url('../../public/mapa.JPG');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .contactDetails {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contactContainer {
            min-width: 800px;
            height: 40vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #474747;
            border-radius: 25px;
            span {
                font-size: 13px;
            }
        }
    }
}