$dark-gray: #f5f5f5;
$gold: #ceac65;

#home {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;

    .offer-container {
        width: 100%;
        height: 20vh;
        background-color: rgb(241, 241, 241);
    }

    .items-container {
        height: 20vh;

    }

    .maxWidthRelative {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: auto;
        max-width: 1250px;
        padding-left: 25px;
        padding-right: 25px;

    }

    .singleOffer {
        text-wrap: wrap;
        background-color: #474747;
        height: 25vh;
        width: 15%;
        min-width: 240px;
        position: relative;
        margin-top: -10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.5s;
        border-radius: 15px; /* Initial rounded corners */
        &:hover {
            box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.3);
            filter: drop-shadow(15px 15px 15px rgba(0,0,0,0.3));
        }

        .offerItem {
        
            width: 5.5rem;
            height: 5.5rem;
            color: #DFBE88;
        }

        .defaultContent,
        .hoverContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        .hoverContent {
            transform: translateX(-100%);
            opacity: 0;
        }

        &:hover .defaultContent {
            transform: translateX(100%);
            opacity: 0;
        }

        &:hover .hoverContent {
            transform: translateX(0);
            opacity: 1;
        }

        &:hover .hoverContent h2 {
            animation: slideInFromLeft 0.5s forwards;
        }

        &:hover .hoverContent .bounce {
            animation: slideInFromBottom 0.8s forwards, bounce 0.7s 0.8s infinite alternate;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(12px);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100px); /* Start 100px below the bottom */
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.containerMaxwidth {
    width: 1250px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.container {
    height: 80%;
    width: 100%;
    background-image: url('../../public/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blur-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
}

.container-left {
    box-sizing: border-box;
    height: 65%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logoContainer {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
